{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    [
      "@emotion/babel-preset-css-prop",
      {
        "sourceMap": false
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "transform-inline-environment-variables",
    "@emotion/babel-plugin"
  ]
}
